<a href="https://colab.research.google.com/github/Nataliaa1994/data-science/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
pd.__version__

'1.0.3'

In [0]:
s=pd.Series(data=[3,4,5,7])
s

0    3
1    4
2    5
3    7
dtype: int64

In [0]:
s=pd.Series(data=[3,4,5,7], index=['a','b','c','d'], name='sample')
s

a    3
b    4
c    5
d    7
Name: sample, dtype: int64

In [0]:
s=pd.Series(data=[3.,4,5,7], index=['a','b','c','d'], name='sample')
s

a    3.0
b    4.0
c    5.0
d    7.0
Name: sample, dtype: float64

In [0]:
import numpy as np
s=pd.Series(data=[3.,np.nan,5,7], index=['a','b','c','d'], name='sample')
s

a    3.0
b    NaN
c    5.0
d    7.0
Name: sample, dtype: float64

In [0]:
s=pd.Series(data=[True,False])
s

0     True
1    False
dtype: bool

In [0]:
s=pd.Series(data=np.arange(10,20),index=pd.date_range(start='20200101', periods=10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [0]:
list(s.index)

[0, 1, 2]

In [0]:
s=pd.Series(data=['python','java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [0]:
type(s)

pandas.core.series.Series

In [0]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [0]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [0]:
s.dtypes

dtype('O')

In [0]:
s.shape

(3,)

In [0]:
price=pd.Series(data={'Apple':200, 'CD Projekt':60, 'Amazon':1900, 'KGHM':np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [0]:
price['CD Projekt']

60

In [0]:
price[1]

60

In [0]:
price.count()

3

In [0]:
price.value_counts(dropna=False)

NaN       1
1900.0    1
60.0      1
200.0     1
dtype: int64

In [0]:
price.sum()

2160

In [0]:
price.min()

60

In [0]:
price.max()

1900

In [0]:
price.std()

1024.3046421841502

In [0]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [0]:
price.nlargest(1)

Amazon    1900.0
dtype: float64

In [0]:
price.nsmallest(1)

CD Projekt    60.0
dtype: float64

In [0]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [0]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [0]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [0]:
price_pln = price.apply(lambda x: x*3.8)

In [0]:
price_pln

Apple          760.0
CD Projekt     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [0]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

Dataframe(tworzenie obiektow):

In [0]:
df=pd.DataFrame(data=[12,12,32])
df

    0
0  12
1  12
2  32

In [0]:
df=pd.DataFrame(data=[12,12,32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [0]:
df=pd.DataFrame(data={'Wig20':['PKN ORLEN', 'PKO BP'],
                      'nWig40':['Amica',"Playway"]})
df

       Wig20   nWig40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [0]:
df=pd.DataFrame(data=[[10,12,13],[23,12,10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [0]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [0]:
df.index

Index(['first', 'second'], dtype='object')

In [0]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes

In [0]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

Dataframe(selekcja kolumn):

In [0]:
df['col_1']

first     10
second    23
Name: col_1, dtype: int64

In [0]:
type(df['col_1'])

pandas.core.series.Series

In [0]:
df[['col_1']]

        col_1
first      10
second     23

In [0]:
type(df[['col_1']])

pandas.core.frame.DataFrame

In [0]:
df.columns=['a','sprzedaz_grudzien','c']
df

         a  sprzedaz_grudzien   c
first   10                 12  13
second  23                 12  10

In [0]:
df.sprzedaz_grudzien

first     12
second    12
Name: sprzedaz_grudzien, dtype: int64

In [0]:
df['d']=df.a+df.c

In [0]:
df

         a  sprzedaz_grudzien   c   d
first   10                 12  13  23
second  23                 12  10  33

In [0]:
df=pd.DataFrame(data=[[10,12,13],[23,12,10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [0]:
df.loc['first']

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [0]:
df.iloc[0]

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [0]:
df.loc['first', 'col_2']

12

In [0]:
df.loc[:, 'col_2']

first     12
second    12
Name: col_2, dtype: int64

In [0]:
df.iloc[0,1]

12

df.tail(5) -wyswietli nam 5 ostatni obiektow
df.columns=[col.lower() for col in df.columns] <- zmieni nazwy kolumn na male litery
df.describe(.T - transponuje wiersze na kolumny i kolumny na wiersze

In [0]:
df=pd.read_csv('london-bike.csv')
df

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0      2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1      2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2      2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3      2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4      2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                    ...   ...  ...  ...         ...         ...     ...
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

In [0]:
df.head(5)

             timestamp  cnt   t1  ...  is_holiday  is_weekend  season
0  2015-01-04 00:00:00  182  3.0  ...         0.0         1.0     3.0
1  2015-01-04 01:00:00  138  3.0  ...         0.0         1.0     3.0
2  2015-01-04 02:00:00  134  2.5  ...         0.0         1.0     3.0
3  2015-01-04 03:00:00   72  2.0  ...         0.0         1.0     3.0
4  2015-01-04 04:00:00   47  2.0  ...         0.0         1.0     3.0

[5 rows x 10 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [0]:
df=df.set_index('timestamp')
df.head(5)

                     cnt   t1   t2  ...  is_holiday  is_weekend  season
timestamp                           ...
2015-01-04 00:00:00  182  3.0  2.0  ...         0.0         1.0     3.0
2015-01-04 01:00:00  138  3.0  2.5  ...         0.0         1.0     3.0
2015-01-04 02:00:00  134  2.5  2.5  ...         0.0         1.0     3.0
2015-01-04 03:00:00   72  2.0  2.0  ...         0.0         1.0     3.0
2015-01-04 04:00:00   47  2.0  0.0  ...         0.0         1.0     3.0

[5 rows x 9 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17414 entries, 2015-01-04 00:00:00 to 2017-01-03 23:00:00
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cnt           17414 non-null  int64
 1   t1            17414 non-null  float64
 2   t2            17414 non-null  float64
 3   hum           17414 non-null  float64
 4   wind_speed    17414 non-null  float64
 5   weather_code  17414 non-null  float64
 6   is_holiday    17414 non-null  float64
 7   is_weekend    17414 non-null  float64
 8   season        17414 non-null  float64
dtypes: float64(8), int64(1)
memory usage: 1.3+ MB